@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    /* Colores actualizados para un tema nevado */
    --red-dk: #8B0000; /* Rojo más oscuro, como bayas en la nieve */
    --red-md: #b32428; /* Rojo más claro, como luces navideñas */
    --pink-dk: #FFC0CB; /* Rosa suave */
    --pink-lt: #FFD1DC; /* Rosa muy claro */
    --purple-dk: #800080; /* Púrpura oscuro, para contraste */
    --purple-md: #DA70D6; /* Púrpura medio */
  
    --neutral-dk: #333; /* Mantener gris oscuro para contraste */
    --neutral-md: #999; /* Gris medio */
    --neutral-mdlt: #DDD; /* Gris claro */
    --neutral-lt: #fff; /* Mantener blanco */
  
    /* Fuente */
    --font-sans: "Poppins", sans-serif;
    --font-display: "Lobster", sans-serif;
  }

/* MAIN STYLES */
body {
    background: linear-gradient(to bottom, #f0f8ff 0%, #ffffff 100%);
    font-family: var(--font-sans);
  }
  
p {
  font-size: 20px;
  margin: 20px 0;
}
h1, h2 {
  font-family: var(--font-display);
  font-size: 36px;
  color: var(--red-dk);
  text-shadow: 1px 2px 2px white;
}
button {
  background: transparent;
  border: none;
  font-family: var(--font-sans);
  cursor: pointer;
}
/* this article is used to center the component within the viewport */
article {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

/* MESSAGES */
.message {
  text-align: center;
  margin-top: 40px;
}
.message-2 {
  display: none;
}

/* ENVELOPE */
.envelope-container {
  position: relative;
  height: 450px;
  width: 350px;
}

.envelope-base {
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  border: 1px solid var(--neutral-md);
  border-radius: 5px;
  background: var(--neutral-lt);
  box-shadow: 0px 10px 30px rgba(0,0,0,.3), 0px 8px 10px rgba(0,0,0,.3);
  z-index: 1;
}
.envelope-flap {
  position: absolute;
  bottom: 50px;
  height: 300px;
  width: 100%;
  z-index: 10;
}
.inner {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
}
.inner-polygon {
  fill: var(--neutral-lt); 
  stroke: var(--neutral-md); 
  stroke-width: 1;
}
.inner-open {
  fill: var(--neutral-mdlt);
}
.outer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
}
.outer-polygon {
  fill: var(--neutral-lt); 
  stroke: var(--neutral-md); 
  stroke-width: 1;
}
.outer-open {
  opacity: 1;
}

/* BOTONES */
  
.glow-on-hover {
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    color: #000000;
    background: #FF6347; /* Un rojo navideño más oscuro para el fondo */
    cursor: pointer;
    position: absolute; /* Posicionamiento absoluto respecto al sobre */
    bottom: 15px; /* Ajusta esta propiedad para mover el botón más arriba o más abajo */
    left: 17%; /* Ajusta esta propiedad para centrar el botón dentro del sobre */
    transform: translateX(-50%); /* Esto centra el botón respecto a su posición left */
    z-index: 20; /* Debe ser mayor que el del sobre */
    border-radius: 10px;
    box-shadow: 0px 0px 10px #b32428;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #b32428, #ff0000, #b32428, #ff0000, #b32428); /* Una mezcla de rojo y blanco */
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #fff;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFAFA; /* Blanco nieve */
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



.heart-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  left: 145px;
  color: var(--red-md);
  font-size: 60px;
  z-index: 1000;
}
.heart-btn:hover {
  color: var(--purple-dk);
}
.heart-btn-text {
  position: absolute;
  font-size: 12px;
  letter-spacing: .5px;
  color: var(--neutral-lt);
  z-index: 1000;
}
  
/* ESTILOS DE CAJA DE LUZ */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparente */
  overflow: auto;
}

.lightbox-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ajusta según sea necesario */
}

.close-lightbox {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-lightbox:hover,
.close-lightbox:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fall {
    to { transform: translateY(100vh); }
  }
  
  .snowflake {
    position: fixed;
    top: -10px;
    z-index: 9999;
    opacity: 0.8;
    color: #add8e6;
    animation-name: fall;
    animation-timing-function: linear;
  }
  
#miAudio {
    display: none;
}  

.caja-de-luz {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
  .cerrar {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .contenido-caja-de-luz {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
/* Estilo base para el interruptor */
.switch {
  position: relative;
  display: inline-block;
  width: 40px; /* Ancho del interruptor reducido */
  height: 22px; /* Altura del interruptor reducida */
  margin: 0; /* Asegúrate de que no hay margen por defecto */
}

/* Oculta el input predeterminado */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilo para la pista del interruptor */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 22px;
}

/* Estilo para el círculo que se mueve dentro del interruptor */
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

/* Color del interruptor cuando está activado */
input:checked + .slider {
  background-color: #2196F3;
}

/* Mover el círculo al otro lado cuando está activado */
input:checked + .slider:before {
  transform: translateX(18px);
}

/* Estilo opcional para hacer el slider más redondeado */
.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Posición por defecto del interruptor */
.switch-container {
  position: absolute; /* Cambiar a posición absoluta */
  bottom: 50%; /* Ubicar el contenedor en la parte inferior del elemento padre */
  margin-bottom: 20px; /* Espacio adicional de 20px por encima */
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%);
  z-index: 10000;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .switch-container {
    position: absolute; /* Mantener posición absoluta */
    bottom: 50%; /* Igual que en el estilo principal */
    margin-bottom: 20px; /* Espacio de 20px por encima */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%);
    z-index: 900;
  }
}

body {
    overflow: visible; /* Asegúrate de que no haya un overflow oculto */
}

#miAudio {
    display: none;
}

/* Resto del CSS... */